.book-detail {
    padding: 20px;
  }
  
  .book-content {
    width: 80%;
    margin: 0 auto;
    white-space: pre-wrap;
    overflow-x: scroll;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  