.book-detail {
  padding: 20px;
}

.book-content {
  writing-mode: vertical-rl; /* 縦書きに設定 */
  text-orientation: upright; /* 文字の向きを直立に設定 */
  width: 75vh;
  height: 78vh; /* 高さを画面の80%に設定 */
  padding: 20px;
  font-size: 30px; /* 適切な文字サイズに設定（必要に応じて調整） */
  line-height: 3.4; /* 行間を調整 */
  margin: 0 auto;
  background-color: aliceblue;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
