
.bookshelf {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* padding: 20px; */
  border: 2px solid #333;
  background-image:url(../img/bookShelf1.png);
  /* border-radius: 10px; */
  /*background-color: #efe3c1;*/
  overflow: scroll;
  hight:400px;
}

.bookshelf::-webkit-scrollbar{
  display: none;
}

.book {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50px;
  margin: 0px;
  text-decoration: none;
}

.book-spine {
  width: 100%;
  padding: 5px;
  color: white;
  text-align: center;
  writing-mode: vertical-tb;
  border-radius: 3px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-blend-mode: multiply;
  background-image: url(../img/nuno.jpg);
    
  transform: scale(0.94);
}

.book-spine:hover{
  transform: scale(1.05);
  /* border-top: 8px solid;
  border-color: rgb(245, 247, 250); */
  /* z-index: auto; */
}

.fadeRight{
  animation-name:fadeRightAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
  text-decoration: none;
  }
  
  @keyframes fadeRightAnime{
    from {
      opacity: 0;
    transform: translateX(100px);
    }
  
    to {
      opacity: 1;
    transform: translateX(0);
    }
  }
